/*Temas*/
.theme{
    --primbkgColor: #2c3e50;
    --secobkgColor: #1abc9c;
}
.theme2{
    --primbkgColor: #502c2c;
    --secobkgColor: #bc1a1a;
}
.theme3{
    --primbkgColor: #502c50;
    --secobkgColor: #811abc;
}
/*-------------*/


/* Extra small devices*/
@media (min-width: 576px) { 
    .container{
        max-width: 540px;
    }
 }
/* Small devices*/
@media (min-width: 768px) { 
    .container{
        max-width: 720px;
    }
 }
/* Medium devices*/
@media (min-width: 992px) { 
    .container{
        max-width: 960px;
    }
 }
/* Large devices*/
@media (min-width: 1200px) { 
    .container{
        max-width: 1140px;
    }
 }



.copyright{
    background-color: #1a252f;
    padding: 30px;
    text-align: center;
    color:white;
}
footer{
    background-color:var(--primbkgColor);
    color:white;
    padding:100px;
    text-align: center
}
.fab:hover {
    background-color:white; 
    color:var(--primbkgColor);
}

.links{
    color:var(--secobkgColor);
}
.col-foot{
    margin-top:15px;
    margin-bottom: 15px;
}
.gap{
    margin-bottom:15px;
}

.fab {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    border-width: 2px;
}
.about{
    background-color: var(--secobkgColor)!important;
    padding: 90px 0;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color:white;
    padding: 0; 
}

.section-title{
    font-size: 36px;
    line-height: 30px;
    color:white;
    text-align: center;
    font-weight: bold;
}
.subtitle{
    font-size:22px;
    font-weight: bold;
}

.divider{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 1.25rem 0 1.5rem;
    display: flex;
    align-items: center;
}

.line-divider{
    width: 100%;
    max-width: 112px;
    height: 4px;
    background-color: white;
    border-radius: 16px;
    border-color: white!important;
}
.icon-divider{
    font-size: 32px;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
}

.button{
    margin-top: 24px;
    padding: 16px 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 16px;
    border-width: 2px;
    font-size:20px;
}
p{
    margin-bottom: 0;
}
.text {
    font-size: 20px;
    font-weight: 400;
}

