<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Styles css -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Icons -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <!-- Boostrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- Angular -->
  <script src="/node_modules/angular/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->

  <title>Landing Page</title>
</head>

<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <!-- Portfolio Section -->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Header -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">portfolio</h2>
        <!-- Icon divider -->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon" ng-repeat="n in [].constructor(stars) track by $index">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items -->
        <div class="row">

          <!--Portfolio Item -->
          <div class="col-md-6 col-lg-4" ng-repeat="item in person">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{$index+1}}">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus ion-icon"></i>
                </div>
              </div>
              <img class="img-fluid" src="/img/{{item.image}}">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Modal -->
    <div ng-repeat="item in person">
      <div class="portfolio-modal modal fade" id="portfolioModal{{$index+1}}" tabindex="-1" role="dialog"
        aria-labelledby="portfolioModal{{$index+1}}Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <ion-icon name="close"></ion-icon>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <!-- Portfolio Modal - Title -->
                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{item.name}}</h2>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                      <div class="divider-custom-line"></div>
                      <div class="divider-custom-icon">
                        <i class="fas fa-star" ng-repeat="n in [].constructor(item.stars) track by $index"></i>
                      </div>
                      <div class="divider-custom-line"></div>
                    </div>
                    <!-- Portfolio Modal - Image -->
                    <img class="img-fluid rounded mb-5" src="/img/{{item.image}}" alt="">
                    <!-- Portfolio Modal - Text -->
                    <p class="mb-5">{{item.description}}</p>
                    <button class="btn btn-primary" href="#" data-dismiss="modal">
                      Close Window
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Libraries -->
  <script src="/js/index.js"></script>

</body>

</html>